@model desafioRH.Models.Funcionario;

@{
    Layout = null;
}


<div class="justify-content-center">
    <div>
        <form asp-action="Detail">
            <div class="row col-12 ">

                <div class="form-group col-5">
                    <label asp-for="Nome" class="control-label"></label>
                    <span class="form-control bg-light">@Model.Nome</span>
                </div>

                <div class="form-group col-5">
                    <label asp-for="EmailCorporativo" class="control-label">Email Corporativo</label>
                    <span class="form-control bg-light">@Model.EmailCorporativo</span>
                </div>

            </div>

            <div class="row col-12">

                <div class="form-group col-10">
                    <label asp-for="Endereco" class="control-label">Endereço</label>
                    <span class="form-control bg-light">@Model.Endereco</span>
                </div>

            </div>
            <div class="row col-12">
                <div class="form-group col-4">
                    <label asp-for="Departamento" class="control-label"></label>
                    <span class="form-control bg-light">@Model.Departamento</span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="Ramal" class="control-label"></label>
                    <span class="form-control bg-light">@Model.Ramal</span>
                </div>

                <div class="form-group col-2">
                    <label asp-for="Salario" class="control-label">Salário</label>
                    <span class="form-control bg-light">@Model.Salario</span>
                </div>
                <div class="form-group col-2">
                    <label asp-for="DataAdmissao" class="control-label">Data de Admissão</label>
                    <span class="form-control bg-light">@(((DateTimeOffset)Model.DataAdmissao).ToString("dd/MM/yyyy"))</span>
                </div>
            </div>


            <div class="row col-12">
                <div class="form-group col-10">

                    <a href="#" class="btn btn-primary  button-P editarBtn" data-value="@Model.Id">Editar</a>
                 
                    <a href="#" class="btn btn-secondary button-P fecharBtn">Fechar</a>
                </div>
            </div>
        </form>
    </div>
</div>