@model IEnumerable<desafioRH.Models.Funcionario>
@{
    ViewData["Title"] = "Colaboradores";
}

    <h3>Colaboradores</h3>

    <br />

    <div class="form-row"> 
        <a href="#" class="btn btn-primary criarBtn">Adicionar colaborador</a>
    </div>

    <br />

<table class="table caption-top table-striped">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Departamento</th>
            <th scope="col" class="text-center">Data de admissão</th>
            <th scope="col" class="text-center">Ramal</th>
            <th scope="col" class="text-center">Email</th>


            <td class="text-sm-end">Detalhes</td>
            <td class="text-sm-end">editar</td>
            <td class="text-sm-end">Excluir</td>
        </tr>
    </thead>
    @if (Model.Any())
    {
        <tbody>
            
            @foreach (var dados in Model)
            {
                <tr class="text-center">
                    <td class="text-center">
                        @Html.DisplayFor(model => dados.Id)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => dados.Nome)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => dados.Departamento)
                    </td>
                    <td class="text-center">
                        @(((DateTimeOffset)dados.DataAdmissao).ToString("dd/MM/yyyy"))
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => dados.Ramal)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => dados.EmailCorporativo)
                    </td>



                    <td class="text-sm-end">
                        <a class="fas fa-tag btn"></a>
                    </td>
                    <td class="text-sm-end">
                        <a href="#" class="fas fa-solid fa-pen btn editarBtn" data-value="@dados.Id"></a>
                    </td>
                    <td class="text-sm-end">
                        <a class="far fa-trash-alt btn"></a>
                    </td>
                </tr>
            }


        </tbody>
    }
</table>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content col-10">
            <div class="modal-header text-light bg-dark border-bottom box-shadow mb-3">
                <h2 class="modal-title fs-3 " style="margin-left: 5%;" id="staticBackdropLabel"></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="conteudoModal"></div>
            </div>
        </div>
    </div>
</div>



 


<script type="text/javascript">
    //Metodo Criar
    $(document).ready(function () {
        $(document).on("click", ".criarBtn", function (event) {
            event.preventDefault();
            $("#conteudoModal").load("/Funcionarios/Create/",
                function () {
                    var tituloModal = "Cadastrar colaborador";
                    $(".modal-title").text(tituloModal);

                    $('#myModal').modal("show");
                }
            );
        });
        $(document).on("click", ".fecharBtn", function (event) {
            event.preventDefault();
            $('#myModal').modal('hide');

        });
        $(document).on("click", ".saveBtn", function (event) {
            event.preventDefault();

            var Id = $(this).data("value");
            console.log(Id);
            $("#conteudoModal").load("/Funcionarios/AddEmployee/");
        });
    });


    //Metodo Editar
    $(document).ready(function () {
        $(document).on("click", ".editarBtn", function (event) {
            event.preventDefault();

            var Id = $(this).data("value");
            $("#conteudoModal").load("/Funcionarios/Edit/" + Id,
                function () {
                    var tituloModal = "Editar colaborador";
                    $(".modal-title").text(tituloModal);
                    $('#myModal').modal("show");                   
                }
            );
        });
        $(document).on("click", ".fecharBtn", function (event) {
            event.preventDefault();
            $('#myModal').modal('hide');
              
        });
        $(document).on("click", ".saveBtn", function (event) {
            event.preventDefault();

            var Id = $(this).data("value");
            console.log(Id);
            $("#conteudoModal").load("/Funcionarios/Save/" + Id);
        });
    });

</script>




